.container {
  display: flex;
  margin: 0 auto;
  max-width: 1000px;
  margin-top: 40px;
  align-items: end;
}

.contactImg {
}

.contactForm {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contactForm form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.topBtn {
  display: flex;
  gap: 32px;
}

.formControl {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.formControl input {
  height: 40px;
  padding: 0 8px;
}

.formControl label {
  /* height: 40px; */
  padding: 0 8px;
  position: absolute;
  top: -12px;
  left: 10px;
  background-color: white;
}
